<div ng-controller="StorageController">
	<h3>API Key</h3>
	<form name="APIKeyForm" ng-submit="save(APIKey)" role="form">
		<div class="form-group">
			<input type="textbox" class="form-control" required placeholder="API Key" ng-model="APIKey">
			<input type="Submit" value="Save" class="btn btn-default form-inline">
			<!-- <button ng-click="load()" class="btn btn-default">Load</button> -->
		</div>
	</form>
	<p>In order to use this site, you will need to generate an <a href="https://account.arena.net/applications" target="_blank">API key</a> with all permissions for your account and enter it here. The permissions are read-only. More info about this process can be found on the <a href="https://wiki.guildwars2.com/wiki/API:API_key" target="_blank">GW2 Wiki</a>.</p>

	<div class="panel panel-danger">
		<div class="panel-heading">Security Notice</div>
		<div class="panel-body">
			Your API key is stored locally on your computer and not saved to the server to reduce the risk of security vulnerabilities. This site promises to not use your API key for anything other than to show you information about your account. We do not have access to your password and the Guild Wars 2 API is read-only access. If the API were to change in the future, we promise to uphold these statements.
		</div>
	</div>
</div>